.container{
    background: white;
    width: 400px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    font-family:cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    text-align: center;
}
.container>.mainBox{
    text-align: center;
    padding: 20px;
    
}

.container>.mainBox>.box>.form>input{
   width: 300px;    
   color: white;
   background:black;
   outline: none;
   border: none; 

    padding: 10px;
    border-radius: 10px;
}
.containerDay{
    background: rgb(0, 0, 0);
    width: 400px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    font-family:cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.containerDay>.mainBox>.box>.form>input{
    width: 300px;    
    color: rgb(0, 0, 0);
    background:rgb(255, 255, 255);
    outline: none;
    border: none; 
 
     padding: 10px;
     border-radius: 10px;
 }
 .containerDay>.mainBox{
    text-align: center;
    padding: 20px;
    
}

.button{
    padding: 5px 10px;
    border: none;
    outline: none;
    background: rgb(255, 123, 0);
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    transform: translateY(-10px);
    color: white;
}
.signUp{
    padding: 5px;
    border: none;
    outline: none;
    background: rgb(16, 164, 223);
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    color: white;
    transform: translateY(-10px);
}

.new{
    transform: translate(-30px,5px);
    margin-top: 20px;
}
.warning{
    color: red;
}
.forgot{
    margin-left: -160px;
    color: rgb(0, 205, 255);
    border-bottom: 1px solid rgb(0, 204, 255);
}
@media screen and (max-width:1500px){
    .forgot{
        margin-left: -110px;
        
        color: rgb(0, 205, 255);
        border-bottom: 1px solid rgb(0, 204, 255);
    }
    
    .container{
        background: white;
        width: 300px;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
    }
    .container>.mainBox{
        text-align: center;
        padding: 20px;
        
    }
    
    .container>.mainBox>.box>.form>input{
       width: 250px;    
       color: white;
       background:black;
       outline: none;
       border: none; 
        padding: 10px;
        border-radius: 10px;
    }
    .containerDay{
        background: rgb(0, 0, 0);
        width: 300px;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
    }
    .containerDay>.mainBox>.box>.form>input{
        width: 250px;    
        color: rgb(0, 0, 0);
        background:rgb(255, 255, 255);
        outline: none;
        border: none; 
     
         padding: 10px;
         border-radius: 10px;
     }
     .containerDay>.mainBox{
        text-align: center;
        padding: 20px;
        
    }
}